$(document).ready(function(){
    addProductToList();
    searchForProducts();
});

  function searchForProducts() {
    $("#searchItemButton").on('click', function(searchInput){
      var searchInput = $('#searchInput').val();

      $.ajax({
        type: "GET",
        url: "https://api.bestbuy.com/v1/products(longDescription=" + searchInput + "*)",
        data: {
          apiKey: "<%= ENV['API_KEY'] %>",
          format: "json",
          pageSize: "15",
          show: "sku,name,customerReviewAverage,shortDescription,salePrice,image"
        },
        success: function(response) {
          console.log(response)
          $('.search-results').empty()
          $.each(response.products, function(index, product) {
            renderProductOnPage(product)
          });
        }, error: function(xhr) {
          console.log("Broken in Onclick Function", xhr);
        }
      });

    });
  }

function addProductToList(){
  $('#addProductToList').on('click', function(){

    var productParams = {
        product: {
          name: $('#productName').val(),
          sku: $('#productSKU').val(),
          image: $('#productImage').val(),
          review: $('#productReview').val(),
          description: $('#productDescription').val(),
          price: $('#productPrice').val()
        }
    }

    console.log(productParams)

    $.ajax({
      type: "POST",
      url: "api/v1/products/new",
      data: productParams,
      success: function(newProduct) {
        console.log("newProduct: " + newProduct)
      }, error: function(xhr) {
        console.log("ERROR: " + xhr)
      }
    }) //ajax
    
  }); //onClick
}

function renderProductOnPage(product) {
  console.log(product);
  $(".search-results").append(
    "<tr> <td>"
    + "[IMAGE]"
    + "</td> <td>"
    + product.sku
    + "</td> <td>"
    + product.name
    + "</td> <td>"
    + product.customerReviewAverage
    + "</td> <td>"
    + product.shortDescription
    + "</td> <td>"
    + product.salePrice
    + "</td></tr>" )
};
